<% include ../partials/header %>
<div class='container res_container'>
	<div class='col-md-4'>
		<h1 style='color:#2abf77'>Reservations</h1>
		<% if (reservations.length > 0) { %>
			<% for (i=0; i<reservations.length; i++) { %>
					<div class='reservation_list'>
						<h3><%= reservations[i].name %></h3>
						<ul>
							<li>Password: <%= reservations[i].secret %></li>
							<li>Phone Number: <%= reservations[i].phone_num %></li>
							<li>Reservation Time: <%= reservations[i].time %></li>
							<li>Number in party: <%= reservations[i].partyNum %></li>
						</ul>
						<button id='<%=reservations[i].id%>'>Check In</button>
					</div>
			<% } %>
		<% } %>
	</div>
	<div class='col-md-4 col-md-offset-4 text-right'>
		<% if (capCounter >= 65) { %>
			<h2 style='color:red'>Capacity: <%= capCounter %>/65</h2>
		<% } else { %>
			<h2 style='color:#2abf77'>Capacity: <%= capCounter %>/65</h2>
		<% } %>
	</div>
</div>
<% include ../partials/footer %>